@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: #b3936529;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
}

.hero {
    width: 36rem;
}

.hero h1 {
    font-weight: 700;
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    min-height: 450px;
}

.codigo {
    margin: 0 auto;
    background-image: url('./images/image-qr-code.png');
    background-size: cover;
    border-radius: 3%;
    height: 250px;
    width: 250px;
    margin: 13px;
}

.text {
    text-align: center;
    padding: 10px;
    word-spacing: 5px;
    line-height: 15px;
}

.text h2 {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 15px;
    line-height: 25px;
}

.text p {
    font-weight: 400;
    font-size: 13px;
    color: hsla(219, 15%, 55%, 0.752);
    margin-bottom: 20px;
}

.create {
    background-color: #b7986d;
    border: 1px solid #886c46;
    border-radius: 10px;
    color: white;
    padding: 17px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}

.create:hover {
    background-color: #88704f;
    border: 1px solid #86683d;
}

.code-loader {
    color: #886c46;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: 700;
    font-size: 3.2rem;
    opacity: 0.8;
}

.code-loader span {
    display: inline-block;
    animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse_414 {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}



@media (max-width:900px) {
    .container {
        flex-direction: column;
    }

    .hero {
        width: 90%;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .hero p {
        line-height: 1.2rem;
    }

    .hero h1 {
        margin-bottom: 1.2rem;
    }
}